body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}
img {
    display: flex;
    margin-bottom: 27px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    max-height: auto;
    
}
#small-img {
    position: fixed;
    left: 15px;
    max-width: 80px;
    max-height: auto;

}
#logo-text {
    text-align: center;
    position: relative;
    left: 106px;
    bottom: 48px;
    color: #4d90fe;
    
}
h2 {
    margin-top: 50px;
    color: #d93025;
    font-weight: 200;
    font-size: 21px;
    padding-bottom: 10px;
}

h4 {
    font-weight: 200;
}
form {
    text-align: center;
}

header {
    text-align: right;
    margin-bottom: 30px;
}
a { 
    margin: 10px;
}

.btn {
    border-radius: 3px;
    border: none;
    height: 37px;
    margin: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f7f7f7;
}
#btn-adv {
    position: relative;
    left: 152px;
    color: white;
    background-color: #4d90fe;
    font-weight: 600;
    font-size: 70%;
    height: 30px;


}
input {
    text-align: left;
    border: 1px solid;
    border-color: #ddd;
    height: 27px;
}
.text {

    border-radius: 20px;
    padding: 7px;
    width: 90%;
}
.adv-text {

    position: fixed;
    left: 210px;
    height: 22px;
    width: 50%;
}
p {
    text-align: left;
    font-size: 85%;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}
